<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionView23mar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>989ECBFC1CA2929D003F2410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>989ECC151CA2929D003F2410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>989ECC201CA2929D003F2410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
